@import "tailwindcss";
/* @import "tailwindcss/preflight"; */

.point-heading {
  font-weight: medium;
  color: #ff5733; /* Example: orange */
  font-size: 16px;
}

.icon-orange-600 {
  filter: invert(43%) sepia(92%) saturate(1941%) hue-rotate(4deg) brightness(95%) contrast(93%);
}






